.dashBoardLayout {
  padding: 0 25px !important;

  .ant-layout-content {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    background-color: #ffffff !important;
    .sideBarContainer {
      min-width: 20%;
      height: 600px;
      border-top-left-radius: 10px;
      background-color: #ffffff !important;
      padding: 15px;
    }
  }
}
